{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
 <h1>Войти</h1>
 {% if form.errors %}
 <p>Your username and password didn't match.Please try again.</p>
 {% else %}
 <p>Пожалуйста, воспользуйтесь следующей формой для входа:</p>
 {% endif %}
 <div class="login-form">
 <form action="{% url 'login' %}" method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Войти"></p>
 </form>
  <a href="/login/vk-oauth2">
 <img src="/static/vk.jpg" class="avatar-3" data-toggle="tooltip" title="Login via VKontakte">
  </a>
  <p><a href="{% url 'password_reset' %}">Забыли свой пароль?</a></p>
  <p><a href="{% url 'blog:register' %}">Регистрация</a></p>
 </div>
{% endblock %}